In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("Maine.csv")

In [3]:
data.head()

   Year  Month  Crash_ID  Crash_Fatal_Fl  Death_Cnt yearMonth
0  2019      1      3664              11        NaN   2019-01
1  2019      2      2741               7        NaN   2019-02
2  2019      3      2777               6        NaN   2019-03
3  2019      4      2499              12        NaN   2019-04
4  2019      5      2308              13        NaN   2019-05

## YearMonth

In [4]:
dataSubYearMonth = data.copy()

In [5]:
dataSubYearMonth['crashPctChange'] = dataSubYearMonth.Crash_ID.pct_change()
dataSubYearMonth['deathCntPctChange'] = dataSubYearMonth.Death_Cnt.pct_change()
dataSubYearMonth['fatalPctChange'] = dataSubYearMonth.Crash_Fatal_Fl.pct_change()
dataSubYearMonth['State']='Maine'
dataSubYearMonth['Country']='United States'

In [6]:
dataSubYearMonth['deathRate']=dataSubYearMonth['Death_Cnt']/dataSubYearMonth['Crash_ID']
dataSubYearMonth['fatRate']=dataSubYearMonth['Crash_Fatal_Fl']/dataSubYearMonth['Crash_ID']

In [7]:
dataSubYearMonth['deathRatePctChange'] = dataSubYearMonth.deathRate.pct_change()
dataSubYearMonth['fatRatePctChange'] = dataSubYearMonth.fatRate.pct_change()

In [8]:
with open("ME_dataSubYearMonth.csv",'w',newline='') as outputfile:
    dataSubYearMonth.to_csv(outputfile, header=True, index = False)

In [9]:
datacheck = pd.read_csv('ME_dataSubYearMonth.csv')

In [10]:
datacheck

    Year  Month  Crash_ID  Crash_Fatal_Fl  Death_Cnt yearMonth  crashPctChange  deathCntPctChange  fatalPctChange  State        Country  deathRate   fatRate  deathRatePctChange  fatRatePctChange
0   2019      1      3664              11        NaN   2019-01             NaN                NaN             NaN  Maine  United States        NaN  0.003002                 NaN               NaN
1   2019      2      2741               7        NaN   2019-02       -0.251910                NaN       -0.363636  Maine  United States        NaN  0.002554                 NaN         -0.149348
2   2019      3      2777               6        NaN   2019-03        0.013134                NaN       -0.142857  Maine  United States        NaN  0.002161                 NaN         -0.153969
3   2019      4      2499              12        NaN   2019-04       -0.100108                NaN        1.000000  Maine  United States        NaN  0.004802                 NaN          1.222489
4   2019      5      2308              13        NaN   2019-05       -0.076431                NaN        0.083333  Maine  United States        NaN  0.005633                 NaN          0.172985
5   2019      6      2775              19        NaN   2019-06        0.202340                NaN        0.461538  Maine  United States        NaN  0.006847                 NaN          0.215579
6   2019      7      2916              25        NaN   2019-07        0.050811                NaN        0.315789  Maine  United States        NaN  0.008573                 NaN          0.252166
7   2019      8      2703              15        NaN   2019-08       -0.073045                NaN       -0.400000  Maine  United States        NaN  0.005549                 NaN         -0.352719
8   2019      9      2347              13        NaN   2019-09       -0.131706                NaN       -0.133333  Maine  United States        NaN  0.005539                 NaN         -0.001875
9   2019     10      2792              12        NaN   2019-10        0.189604                NaN       -0.076923  Maine  United States        NaN  0.004298                 NaN         -0.224047
10  2019     11      3608               9        NaN   2019-11        0.292264                NaN       -0.250000  Maine  United States        NaN  0.002494                 NaN         -0.419623
11  2019     12      4091              10        NaN   2019-12        0.133869                NaN        0.111111  Maine  United States        NaN  0.002444                 NaN         -0.020071
12  2020      1      3379              12        NaN   2020-01       -0.174041                NaN        0.200000  Maine  United States        NaN  0.003551                 NaN          0.452856
13  2020      2      2764               5        NaN   2020-02       -0.182007                NaN       -0.583333  Maine  United States        NaN  0.001809                 NaN         -0.490623
14  2020      3      1951               6        NaN   2020-03       -0.294139                NaN        0.200000  Maine  United States        NaN  0.003075                 NaN          0.700051
15  2020      4      1329               9        NaN   2020-04       -0.318811                NaN        0.500000  Maine  United States        NaN  0.006772                 NaN          1.202032

## MonthYear

In [11]:
dataSubMonthYear = data[['Month', 'Year','Crash_ID','Crash_Fatal_Fl','Death_Cnt','yearMonth']].sort_values(by=['Month', 'Year'])

In [12]:
dataSubMonthYear['crashPctChange'] = dataSubMonthYear.groupby('Month')['Crash_ID'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['deathCntPctChange'] = dataSubMonthYear.groupby('Month')['Death_Cnt'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatalPctChange'] = dataSubMonthYear.groupby('Month')['Crash_Fatal_Fl'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['State']='Maine'
dataSubMonthYear['Country']='United States'

In [13]:
dataSubMonthYear['deathRate']=dataSubMonthYear['Death_Cnt']/dataSubMonthYear['Crash_ID']
dataSubMonthYear['fatRate']=dataSubMonthYear['Crash_Fatal_Fl']/dataSubMonthYear['Crash_ID']

In [14]:
dataSubMonthYear['deathRatePctChange'] = dataSubMonthYear.groupby('Month')['deathRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatRatePctChange'] = dataSubMonthYear.groupby('Month')['fatRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))

In [15]:
with open("ME_dataSubMonthYear.csv",'w',newline='') as outputfile:
    dataSubMonthYear.to_csv(outputfile, header=True, index = False)

In [16]:
datacheck = pd.read_csv('ME_dataSubMonthYear.csv')
datacheck.shape

(16, 15)

In [17]:
datacheck

    Month  Year  Crash_ID  Crash_Fatal_Fl  Death_Cnt yearMonth  crashPctChange  deathCntPctChange  fatalPctChange  State        Country  deathRate   fatRate  deathRatePctChange  fatRatePctChange
0       1  2019      3664              11        NaN   2019-01        0.000000                NaN        0.000000  Maine  United States        NaN  0.003002                 NaN          0.000000
1       1  2020      3379              12        NaN   2020-01       -0.077784                NaN        0.090909  Maine  United States        NaN  0.003551                 NaN          0.182921
2       2  2019      2741               7        NaN   2019-02        0.000000                NaN        0.000000  Maine  United States        NaN  0.002554                 NaN          0.000000
3       2  2020      2764               5        NaN   2020-02        0.008391                NaN       -0.285714  Maine  United States        NaN  0.001809                 NaN         -0.291658
4       3  2019      2777               6        NaN   2019-03        0.000000                NaN        0.000000  Maine  United States        NaN  0.002161                 NaN          0.000000
5       3  2020      1951               6        NaN   2020-03       -0.297443                NaN        0.000000  Maine  United States        NaN  0.003075                 NaN          0.423373
6       4  2019      2499              12        NaN   2019-04        0.000000                NaN        0.000000  Maine  United States        NaN  0.004802                 NaN          0.000000
7       4  2020      1329               9        NaN   2020-04       -0.468187                NaN       -0.250000  Maine  United States        NaN  0.006772                 NaN          0.410271
8       5  2019      2308              13        NaN   2019-05        0.000000                NaN        0.000000  Maine  United States        NaN  0.005633                 NaN          0.000000
9       6  2019      2775              19        NaN   2019-06        0.000000                NaN        0.000000  Maine  United States        NaN  0.006847                 NaN          0.000000
10      7  2019      2916              25        NaN   2019-07        0.000000                NaN        0.000000  Maine  United States        NaN  0.008573                 NaN          0.000000
11      8  2019      2703              15        NaN   2019-08        0.000000                NaN        0.000000  Maine  United States        NaN  0.005549                 NaN          0.000000
12      9  2019      2347              13        NaN   2019-09        0.000000                NaN        0.000000  Maine  United States        NaN  0.005539                 NaN          0.000000
13     10  2019      2792              12        NaN   2019-10        0.000000                NaN        0.000000  Maine  United States        NaN  0.004298                 NaN          0.000000
14     11  2019      3608               9        NaN   2019-11        0.000000                NaN        0.000000  Maine  United States        NaN  0.002494                 NaN          0.000000
15     12  2019      4091              10        NaN   2019-12        0.000000                NaN        0.000000  Maine  United States        NaN  0.002444                 NaN          0.000000

#### The december tied data
In this section we compare the all the months we have in 2020 to the most recent "normal month" which is December.

In [18]:
compare = dataSubYearMonth[['yearMonth', 'Crash_ID', 'Crash_Fatal_Fl']][dataSubYearMonth.yearMonth >= '2019-12']

compare['crashPctChangeCompareDec'] = compare.Crash_ID / compare.Crash_ID.iloc[0] - 1
compare['fatalPctChangeCompareDec'] = compare.Crash_Fatal_Fl / compare.Crash_Fatal_Fl.iloc[0] - 1

compare['State']='Maine'
compare['Country']='United States'

In [19]:
compare

   yearMonth  Crash_ID  Crash_Fatal_Fl  crashPctChangeCompareDec  fatalPctChangeCompareDec  State        Country
11   2019-12      4091              10                  0.000000                       0.0  Maine  United States
12   2020-01      3379              12                 -0.174041                       0.2  Maine  United States
13   2020-02      2764               5                 -0.324371                      -0.5  Maine  United States
14   2020-03      1951               6                 -0.523099                      -0.4  Maine  United States
15   2020-04      1329               9                 -0.675141                      -0.1  Maine  United States

In [20]:
with open("ME_PctChangeCompareDec.csv",'w',newline='') as outputfile:
    compare.to_csv(outputfile, header=True, index = False)